[user]
    name = "Maddy Guthridge"
    email = "hello@maddyguthridge.com"
    #signingkey = 7E0BC9B633D9B2D9

[init]
    defaultBranch = main

[status]
    # git status --short
    short = true

[commit]
    #gpgsign = true

[pull]
    rebase = false

[include]
    # This will silently fail if no local config exists, which is what we want
    # here.
    path = .gitconfig.local
